.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #d4d3d3;
    background-color: #fff;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    min-width: 30px;
}

.nav-item span {
    margin: 5px;
}

.nav-item a {
    color: #333;
}

.nav-item.active {
    color: #3366cc;
}

.nav-item.active a {
    color: #3366cc;
}